openapi: 3.2.0
info:
  title: Coingecko Search API
  version: 3.0.1
  contact:
    name: CoinGecko Support
    url: https://support.coingecko.com
  termsOfService: https://www.coingecko.com/en/terms
  description: 'Operations tagged Search across 2 of this provider''s published API definitions: coingecko-crypto-market-data-api-openapi.yml, coingecko-onchain-dex-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.coingecko.com/api/v3
  description: CoinGecko Demo API Server
- url: https://pro-api.coingecko.com/api/v3
  description: CoinGecko Pro API Server (paid plans)
tags:
- name: Search
  description: Search for coins, exchanges, and categories.
paths:
  /search:
    get:
      operationId: search
      summary: Search for coins, exchanges, and categories
      description: Search for coins, exchanges, categories, and NFTs by keyword. Returns matching results across all entity types.
      tags:
      - Search
      parameters:
      - name: query
        in: query
        required: true
        description: Search query string
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  coins:
                    type: array
                    description: Matching coins
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        api_symbol:
                          type: string
                        symbol:
                          type: string
                        market_cap_rank:
                          type: integer
                        thumb:
                          type: string
                        large:
                          type: string
                  exchanges:
                    type: array
                    description: Matching exchanges
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        market_type:
                          type: string
                        thumb:
                          type: string
                        large:
                          type: string
                  categories:
                    type: array
                    description: Matching categories
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                  nfts:
                    type: array
                    description: Matching NFT collections
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        symbol:
                          type: string
                        thumb:
                          type: string
      security:
      - demoApiKeyHeader: []
      - demoApiKeyQuery: []
    servers:
    - url: https://api.coingecko.com/api/v3
      description: CoinGecko Demo API Server
  /onchain/search/pools:
    get:
      operationId: searchOnchainPools
      summary: Search for pools
      description: Search for liquidity pools by keyword. Accepts token name, ticker symbol, token contract address, or specific pool contract address as search queries.
      tags:
      - Search
      parameters:
      - name: query
        in: query
        required: true
        description: Search query (token name, symbol, token address, or pool address)
        schema:
          type: string
      - name: network
        in: query
        description: Filter results by network ID
        schema:
          type: string
      - name: include
        in: query
        description: Additional data to include (e.g., base_token, quote_token, dex, network)
        schema:
          type: string
      - name: page
        in: query
        description: Page number for pagination
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pool'
      security:
      - proApiKeyHeader: []
      - proApiKeyQuery: []
      - demoApiKeyHeader: []
      - demoApiKeyQuery: []
    servers:
    - url: https://pro-api.coingecko.com/api/v3
      description: CoinGecko Pro API Server (paid plans)
    - url: https://api.coingecko.com/api/v3
      description: CoinGecko Demo API Server (free tier, limited endpoints)
components:
  schemas:
    Pool:
      type: object
      properties:
        id:
          type: string
          description: Pool identifier (network_address format)
        type:
          type: string
          description: Resource type (pool)
        attributes:
          type: object
          properties:
            base_token_price_usd:
              type: string
              description: Base token price in USD
            base_token_price_native_currency:
              type: string
              description: Base token price in network native currency
            quote_token_price_usd:
              type: string
              description: Quote token price in USD
            quote_token_price_native_currency:
              type: string
              description: Quote token price in network native currency
            base_token_price_quote_token:
              type: string
              description: Base token price in quote token
            quote_token_price_base_token:
              type: string
              description: Quote token price in base token
            address:
              type: string
              description: Pool contract address
            name:
              type: string
              description: Pool name (e.g., TOKEN_A / TOKEN_B)
            pool_created_at:
              type: string
              format: date-time
              description: Pool creation timestamp
            fdv_usd:
              type: string
              description: Fully diluted valuation in USD
            market_cap_usd:
              type: string
              description: Market cap in USD
            price_change_percentage:
              type: object
              description: Price change percentages over various timeframes
              properties:
                m5:
                  type: string
                  description: 5-minute price change percentage
                h1:
                  type: string
                  description: 1-hour price change percentage
                h6:
                  type: string
                  description: 6-hour price change percentage
                h24:
                  type: string
                  description: 24-hour price change percentage
            transactions:
              type: object
              description: Transaction counts over various timeframes
              properties:
                m5:
                  $ref: '#/components/schemas/TransactionCount'
                m15:
                  $ref: '#/components/schemas/TransactionCount'
                m30:
                  $ref: '#/components/schemas/TransactionCount'
                h1:
                  $ref: '#/components/schemas/TransactionCount'
                h24:
                  $ref: '#/components/schemas/TransactionCount'
            volume_usd:
              type: object
              description: Volume in USD over various timeframes
              properties:
                m5:
                  type: string
                h1:
                  type: string
                h6:
                  type: string
                h24:
                  type: string
            reserve_in_usd:
              type: string
              description: Total liquidity reserve in USD
        relationships:
          type: object
          description: Related resources (base_token, quote_token, dex, network)
          properties:
            base_token:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
            quote_token:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
            dex:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
    TransactionCount:
      type: object
      properties:
        buys:
          type: integer
          description: Number of buy transactions
        sells:
          type: integer
          description: Number of sell transactions
        buyers:
          type: integer
          description: Number of unique buyers
        sellers:
          type: integer
          description: Number of unique sellers
  securitySchemes:
    demoApiKeyHeader:
      type: apiKey
      in: header
      name: x-cg-demo-api-key
      description: CoinGecko Demo API key passed via request header. Obtain a free key from the CoinGecko developer dashboard.
    demoApiKeyQuery:
      type: apiKey
      in: query
      name: x_cg_demo_api_key
      description: CoinGecko Demo API key passed via query string parameter.
    proApiKeyHeader:
      type: apiKey
      in: header
      name: x-cg-pro-api-key
      description: CoinGecko Pro API key passed via request header.
    proApiKeyQuery:
      type: apiKey
      in: query
      name: x_cg_pro_api_key
      description: CoinGecko Pro API key passed via query string parameter.
x-refined-from:
- coingecko-crypto-market-data-api-openapi.yml
- coingecko-onchain-dex-api-openapi.yml
