openapi: 3.2.0
info:
  title: CoinGecko Pro Token Lists API
  description: The CoinGecko Pro API provides the same comprehensive cryptocurrency market data as the standard Demo API but with enhanced performance, higher rate limits of up to 1,000 calls per minute, and faster data updates with prices cached every 30 seconds. It includes exclusive endpoints for advanced analytics, detailed market data, and historical granularity that are not available on the free Demo plan. The Pro API is designed for commercial use cases and comes with dedicated support SLA and access to over 2 million token data points. This spec covers the exclusive endpoints available only to paid plan subscribers.
  version: 3.0.1
  contact:
    name: CoinGecko Support
    url: https://support.coingecko.com
  termsOfService: https://www.coingecko.com/en/terms
servers:
- url: https://pro-api.coingecko.com/api/v3
  description: CoinGecko Pro API Server
security:
- proApiKeyHeader: []
- proApiKeyQuery: []
tags:
- name: Token Lists
  description: Token list endpoints for paid plan subscribers providing standardized token lists by asset platform.
paths:
  /token_lists/{asset_platform_id}/all.json:
    get:
      operationId: getTokenList
      summary: Get token list by asset platform
      description: Get a standardized token list for a specific asset platform in the Uniswap token list format. Includes token name, symbol, decimals, and contract address. This endpoint is exclusive to paid plan subscribers.
      tags:
      - Token Lists
      parameters:
      - name: asset_platform_id
        in: path
        required: true
        description: The asset platform ID (e.g., ethereum)
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Token list name
                  logoURI:
                    type: string
                    format: uri
                    description: Token list logo
                  keywords:
                    type: array
                    items:
                      type: string
                  timestamp:
                    type: string
                    format: date-time
                    description: Token list generation timestamp
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        chainId:
                          type: integer
                          description: Chain ID
                        address:
                          type: string
                          description: Token contract address
                        name:
                          type: string
                          description: Token name
                        symbol:
                          type: string
                          description: Token symbol
                        decimals:
                          type: integer
                          description: Token decimal places
                        logoURI:
                          type: string
                          format: uri
                          description: Token logo URL
        '401':
          description: Unauthorized - invalid or missing Pro API key
        '403':
          description: Forbidden - endpoint not available on current plan
components:
  securitySchemes:
    proApiKeyHeader:
      type: apiKey
      in: header
      name: x-cg-pro-api-key
      description: CoinGecko Pro API key passed via request header. Obtain a paid key from the CoinGecko developer dashboard.
    proApiKeyQuery:
      type: apiKey
      in: query
      name: x_cg_pro_api_key
      description: CoinGecko Pro API key passed via query string parameter.
externalDocs:
  description: CoinGecko Pro API Documentation
  url: https://docs.coingecko.com/reference/introduction
