openapi: 3.1.0
info:
  title: CoinGecko Crypto Market Data Asset Platforms Token Lists API
  description: The CoinGecko Crypto Market Data API provides comprehensive and reliable cryptocurrency price and market data through RESTful JSON endpoints. It offers over 70 endpoints covering real-time and historical prices, trading volumes, market capitalization, OHLCV data, exchange information, NFT metrics, derivatives data, and public treasury holdings for over 18,000 coins. The Demo API plan provides free access with 30 calls per minute to a subset of 30 publicly accessible endpoints.
  version: 3.0.1
  contact:
    name: CoinGecko Support
    url: https://support.coingecko.com
  termsOfService: https://www.coingecko.com/en/terms
servers:
- url: https://api.coingecko.com/api/v3
  description: CoinGecko Demo API Server
security:
- demoApiKeyHeader: []
- demoApiKeyQuery: []
tags:
- name: Token Lists
  description: Token list endpoints for paid plan subscribers providing standardized token lists by asset platform.
paths:
  /token_lists/{asset_platform_id}/all.json:
    get:
      operationId: getTokenList
      summary: Get token list by asset platform
      description: Get a standardized token list for a specific asset platform in the Uniswap token list format. Includes token name, symbol, decimals, and contract address. This endpoint is exclusive to paid plan subscribers.
      tags:
      - Token Lists
      parameters:
      - name: asset_platform_id
        in: path
        required: true
        description: The asset platform ID (e.g., ethereum)
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Token list name
                  logoURI:
                    type: string
                    format: uri
                    description: Token list logo
                  keywords:
                    type: array
                    items:
                      type: string
                  timestamp:
                    type: string
                    format: date-time
                    description: Token list generation timestamp
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        chainId:
                          type: integer
                          description: Chain ID
                        address:
                          type: string
                          description: Token contract address
                        name:
                          type: string
                          description: Token name
                        symbol:
                          type: string
                          description: Token symbol
                        decimals:
                          type: integer
                          description: Token decimal places
                        logoURI:
                          type: string
                          format: uri
                          description: Token logo URL
        '401':
          description: Unauthorized - invalid or missing Pro API key
        '403':
          description: Forbidden - endpoint not available on current plan
components:
  securitySchemes:
    demoApiKeyHeader:
      type: apiKey
      in: header
      name: x-cg-demo-api-key
      description: CoinGecko Demo API key passed via request header. Obtain a free key from the CoinGecko developer dashboard.
    demoApiKeyQuery:
      type: apiKey
      in: query
      name: x_cg_demo_api_key
      description: CoinGecko Demo API key passed via query string parameter.
externalDocs:
  description: CoinGecko API Documentation
  url: https://docs.coingecko.com
