openapi: 3.2.0
info:
  title: CoinGecko Onchain DEX Networks API
  description: The CoinGecko Onchain DEX API, powered by GeckoTerminal, provides access to real-time decentralized exchange data across over 250 blockchain networks, 1,800 DEXes, and 30 million tokens. It offers more than 20 endpoints for querying liquidity pools, token data by contract address, OHLCV chart data, trending pools, and pool search functionality. This API enables developers to build applications that track onchain trading activity, monitor DeFi liquidity, and analyze decentralized market data without needing to interact directly with individual blockchain networks.
  version: 3.0.1
  contact:
    name: CoinGecko Support
    url: https://support.coingecko.com
  termsOfService: https://www.coingecko.com/en/terms
servers:
- url: https://pro-api.coingecko.com/api/v3
  description: CoinGecko Pro API Server (paid plans)
- url: https://api.coingecko.com/api/v3
  description: CoinGecko Demo API Server (free tier, limited endpoints)
security:
- proApiKeyHeader: []
- proApiKeyQuery: []
- demoApiKeyHeader: []
- demoApiKeyQuery: []
tags:
- name: Networks
  description: List and query supported blockchain networks.
paths:
  /onchain/networks:
    get:
      operationId: getOnchainNetworks
      summary: List supported networks
      description: Get the list of all supported blockchain networks with their identifiers. Use these network IDs in other onchain endpoints.
      tags:
      - Networks
      parameters:
      - name: page
        in: query
        description: Page number for pagination
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Network'
components:
  schemas:
    Network:
      type: object
      properties:
        id:
          type: string
          description: Network identifier used in API paths
        type:
          type: string
          description: Resource type (network)
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Network display name
            coingecko_asset_platform_id:
              type: string
              description: Corresponding CoinGecko asset platform ID
  securitySchemes:
    proApiKeyHeader:
      type: apiKey
      in: header
      name: x-cg-pro-api-key
      description: CoinGecko Pro API key passed via request header.
    proApiKeyQuery:
      type: apiKey
      in: query
      name: x_cg_pro_api_key
      description: CoinGecko Pro API key passed via query string parameter.
    demoApiKeyHeader:
      type: apiKey
      in: header
      name: x-cg-demo-api-key
      description: CoinGecko Demo API key for free tier access to limited onchain endpoints.
    demoApiKeyQuery:
      type: apiKey
      in: query
      name: x_cg_demo_api_key
      description: CoinGecko Demo API key passed via query string parameter.
externalDocs:
  description: CoinGecko Onchain DEX API Documentation
  url: https://docs.coingecko.com/reference/endpoint-overview
