openapi: 3.1.0
info:
  title: CoinGecko Crypto Market Data Asset Platforms Networks API
  description: The CoinGecko Crypto Market Data API provides comprehensive and reliable cryptocurrency price and market data through RESTful JSON endpoints. It offers over 70 endpoints covering real-time and historical prices, trading volumes, market capitalization, OHLCV data, exchange information, NFT metrics, derivatives data, and public treasury holdings for over 18,000 coins. The Demo API plan provides free access with 30 calls per minute to a subset of 30 publicly accessible endpoints.
  version: 3.0.1
  contact:
    name: CoinGecko Support
    url: https://support.coingecko.com
  termsOfService: https://www.coingecko.com/en/terms
servers:
- url: https://api.coingecko.com/api/v3
  description: CoinGecko Demo API Server
security:
- demoApiKeyHeader: []
- demoApiKeyQuery: []
tags:
- name: Networks
  description: List and query supported blockchain networks.
paths:
  /onchain/networks:
    get:
      operationId: getOnchainNetworks
      summary: List supported networks
      description: Get the list of all supported blockchain networks with their identifiers. Use these network IDs in other onchain endpoints.
      tags:
      - Networks
      parameters:
      - name: page
        in: query
        description: Page number for pagination
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Network'
components:
  schemas:
    Network:
      type: object
      properties:
        id:
          type: string
          description: Network identifier used in API paths
        type:
          type: string
          description: Resource type (network)
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Network display name
            coingecko_asset_platform_id:
              type: string
              description: Corresponding CoinGecko asset platform ID
  securitySchemes:
    demoApiKeyHeader:
      type: apiKey
      in: header
      name: x-cg-demo-api-key
      description: CoinGecko Demo API key passed via request header. Obtain a free key from the CoinGecko developer dashboard.
    demoApiKeyQuery:
      type: apiKey
      in: query
      name: x_cg_demo_api_key
      description: CoinGecko Demo API key passed via query string parameter.
externalDocs:
  description: CoinGecko API Documentation
  url: https://docs.coingecko.com
